
/* =Canvas
---------------------------------------------- */

body {
	background: #666 url('images/noise.png') fixed;
}

#page {
	border-radius: 0.5rem;
	@include box-shadow( rgba(0, 0, 0, 0.4) 0 0 1rem 0);
	overflow: hidden;
}

#main {
	background: #fff;
	clear: both;
	overflow: hidden;
	@include box-shadow( rgba(0, 0, 0, 0.1) 0 0 0 0.1rem inset );
}
